<a href="https://coryrylan.com/blog/angular-http-pending-request-pattern">
  <h1>Tutorial: Angular HTTP Pending Request Pattern</h1>
</a>

<section *ngIf="user.data | async as user">
  <h3>{{user.name}}</h3>
  <p>Height: {{user.height}}</p>
  <p>Mass: {{user.mass}}</p>
  <p>Homeworld: {{user.homeworld}}</p>
</section>

<section [ngSwitch]="user.status | async">
  <span *ngSwitchCase="Status.LOADING">Loading User...</span>
  <span *ngSwitchCase="Status.ERROR">There was an error loading the user.</span>
</section>